.abt-sec {
	padding: 70px 0px;
	@media only screen and (max-width: 767px) {
		padding: 40px 0px;
	}
	h2 {
		font-family: $font-sans;
		font-family: 400;
		font-size: 40px;
		margin-bottom: 20px;
		@media only screen and (max-width: 1199px) {
			font-size: 34px;
			margin-bottom: 18px;
		}
		@media only screen and (max-width: 991px) {
			font-size: 32px;
		}
		@media only screen and (max-width: 767px) {
			font-size: 28px;
			margin-bottom: 15px;
		}
	}
	p {
		font-size: 15px;
		color: $text-color;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	.list-point {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 10px;
		li {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			display: flex;
			font-size: 15px;
		}
		i {
			color: $primary-color;
			margin-right: 8px;
			font-weight: bold;
			position: relative;
			top: 4px;
		}
		span {
			color: $text-color;
		}
	}
}

/*--------------------------------------------------------------
# games
--------------------------------------------------------------*/

.games {
	padding: 70px 0px;
	@media only screen and (max-width: 767px) {
		padding: 40px 0px;
	}
	.sec-t {
		text-align: center;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
		@media only screen and (max-width: 767px) {
			margin-bottom: 40px;
		}
		h2 {
			font-family: $font-sans;
			font-size: 44px;
			margin-bottom: 14px;
			@media only screen and (max-width: 1199px) {
				font-size: 34px;
			}
			@media only screen and (max-width: 991px) {
				font-size: 32px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 28px;
				margin-bottom: 10px;
			}
		}
	}
	.g-single {
		text-align: center;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;

		.g-logo {
			width: 150px;
			height: 75px;
			object-fit: contain;
			margin-bottom: 16px;
			filter: grayscale(100%);
			@media only screen and (max-width: 767px) {
				width: 150px;
				height: 50px;
				margin-bottom: 10px;
			}
		}
	}
}

/*--------------------------------------------------------------
# sword
--------------------------------------------------------------*/

.sword {
	background-color: $secondary-color;
	padding: 70px 0px;
	@media only screen and (max-width: 767px) {
		padding: 40px 0px;
	}
	.s-text {
		@media only screen and (max-width: 991px) {
			text-align: center;
		}
		h2 {
			font-family: $font-sans;
			font-size: 36px;
			margin-bottom: 14px;
      color: #fff;
			@media only screen and (max-width: 767px) {
				font-size: 30px;
				margin-bottom: 10px;
			}
		}
	}
}

/*--------------------------------------------------------------
# cta
--------------------------------------------------------------*/

.cta {
	background-color: $primary-color;
	padding: 70px 0px;
	text-align: center;
	@media only screen and (max-width: 767px) {
		padding: 40px 0px;
	}

	.cta-text {
		h2 {
			font-family: $font-sans;
			color: #fff;
			font-size: 40px;
      margin-bottom: 20px;
      @media only screen and (max-width: 767px) {
       font-size: 30px;
       margin-bottom: 15px;
      }
		}
	}
	.btn-invite {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		border: 0;
		background-color: #9eaffa;
		border-radius: 50px;
    padding: 0 18px 0 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
		img {
			width: 55px;
			height: 55px;
      margin-right: 6px;
      @media only screen and (max-width: 767px) {
       width: 50px;
       height: 50px;
      }
		}
    transition: all .2s ease-in;
    &:hover{
      background-color: $text-color;
    }
	}
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
footer {
	background-color: #fff;
	padding: 30px 0px;
	text-align: center;
  @media only screen and (max-width: 767px) {
   padding: 15px 0px;
  }
	span {
		font-size: 13px;
		opacity: 0.7;
	}
	.footer-links {
		margin-bottom: 8px;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-bottom: 5px;
				&:not(:last-child) {
					margin-right: 8px;
				}
				a {
					display: inline-block;
					font-size: 25px;
					color: $primary-color;
					transition: all 0.2s ease-in;
					transition: all 0.2s ease-in;
					&:hover {
						color: $primary-color;
					}
					img {
						height: 35px;
					}
				}
			}
		}
	}
}
