@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');

$font-sans: 'Quicksand', sans-serif;
$font-popins:'Poppins', sans-serif;

$main-color:#000000;
$primary-color:#ee4346;
$primary-color:#c02a11;
$secondary-color:#2f3136;
$text-color: #898f93;
$title-color:#1e1e1e;
