@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap");

/*--------------------------------------------------------------
# base
--------------------------------------------------------------*/
::-moz-selection {
  color: #1e1e1e;
  background: #c02a11;
}

::selection {
  color: #1e1e1e;
  background: #c02a11;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #898f93;
  font-size: 15px;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
}

a:hover {
  color: #c02a11;
}

a:focus,
a:hover {
  text-decoration: none;
}

section {
  overflow: hidden;
}

i,
span,
a {
  display: inline-block;
}

audio,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #1e1e1e;
}

p {
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

.error {
  color: #ff4500;
}

.success {
  color: green;
}

.scroll-top {
  width: 35px;
  height: 35px;
  background-color: #c02a11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
}

.scroll-top:hover {
  color: #fff;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

/*--------------------------------------------------------------
  ##  Page Loader
  --------------------------------------------------------------*/
.page-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999999;
  background-color: #fff;
}

.page-loader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.page-loader .loader:after {
  content: "";
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #2f3136;
  border-radius: 50%;
}

.page-loader .loader:before {
  content: "";
  position: absolute;
  inset: 0px;
  margin: auto;
  background: #de3500;
  -webkit-animation: crlMugLoader 2s linear infinite alternate;
  animation: crlMugLoader 2s linear infinite alternate;
}

@-webkit-keyframes crlMugLoader {

  0%,
  10% {
    -webkit-transform: translateY(64px);
    transform: translateY(64px);
  }

  90%,
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes crlMugLoader {

  0%,
  10% {
    -webkit-transform: translateY(64px);
    transform: translateY(64px);
  }

  90%,
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: #fff;
}

.navbar {
  padding: 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 8px 0;
}

@media (max-width: 991px) {
  .navbar {
    padding: 8px 0;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 8px 0;
  }
}

.navbar .navbar-brand {
  padding: 0;
  font-size: 24px;
  text-decoration: none;
  color: #2f3136;
  text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.34);
}

.navbar .navbar-brand img {
  height: 40px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 767px) {
  .navbar .navbar-brand img {
    height: 33px;
  }
}

.navbar .navbar-brand span {
  color: #c02a11;
}

@media only screen and (max-width: 767px) {
  .navbar .navbar-brand {
    font-size: 22px;
  }
}

.navbar .navbar-nav .nav-item {
  position: relative;
  margin-left: 23px;
}

.navbar .navbar-nav .nav-item:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-item {
    margin-left: 0;
  }
}

.navbar .navbar-nav .nav-item a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #1e1e1e;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 10px 0;
  position: relative;
}

.navbar .navbar-nav .nav-item a:hover,
.navbar .navbar-nav .nav-item a.active {
  color: #c02a11;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-nav .nav-item a {
    display: inline-block;
  }
}

@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-item a {
    padding: 2px 0;
    margin: 6px 0px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar .navbar-nav .nav-item a {
    display: inline-block;
  }
}

.navbar .navbar-nav .nav-item .lni-shield {
  color: greenyellow;
  font-size: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 991px) {
  .navbar .navbar-collapse {
    padding: 8px 20px 18px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    -webkit-box-shadow: 0 15px 20px 0 rgba(43, 56, 109, 0.1);
    box-shadow: 0 15px 20px 0 rgba(43, 56, 109, 0.1);
  }
}

.navbar .navbar-toggler {
  padding: 0;
}

.navbar .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

/** Medium devices (tablets, 768px and up) **/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0 0.16rem 0.2rem 0 rgba(36, 39, 46, 0.05);
  box-shadow: 0 0.16rem 0.2rem 0 rgba(36, 39, 46, 0.05);
}

.sticky .navbar .navbar-toggler .toggler-icon {
  background-color: #000;
}

.nav-center {
  /** Large devices (desktops, 992px and up) **/
}

@media (min-width: 992px) {
  .nav-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

.social {
  margin-left: 30px;
}

@media only screen and (max-width: 991px) {
  .social {
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
  }
}

.social li a:not(:last-child) {
  margin-right: 10px;
}

.social li a img {
  height: 30px;
}

/*--------------------------------------------------------------
# hero-area
--------------------------------------------------------------*/
.hero-area {
  position: relative;
  width: 100%;
  min-height: 850px;
  background-color: #c02a11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 1199px) {
  .hero-area {
    min-height: 780px;
  }
}

@media only screen and (max-width: 991px) {
  .hero-area {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-area {
    min-height: auto;
    padding-top: 70px;
  }
}

@media only screen and (max-width: 482px) {
  .hero-area {
    min-height: auto;
  }
}

.hero-area .hero-inner {
  position: relative;
}

.hero-area .hero-inner h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 46px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.hero-area .hero-inner h1 span {
  font-weight: 600;
}

@media only screen and (max-width: 1199px) {
  .hero-area .hero-inner h1 {
    font-size: 38px;
  }
}

@media only screen and (max-width: 991px) {
  .hero-area .hero-inner h1 {
    line-height: 1.3;
    font-size: 35px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 482px) {
  .hero-area .hero-inner h1 {
    font-size: 32px;
    margin-bottom: 18px;
  }
}

.hero-area .hero-inner p {
  font-size: 16px;
  color: #ffffff;
  opacity: 0.8;
  max-width: 420px;
  margin-bottom: 36px;
}

@media only screen and (max-width: 991px) {
  .hero-area .hero-inner p {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }
}

.hero-area .hero-img {
  max-width: 140%;
  height: auto;
  position: relative;
  top: 33px;
  z-index: 2;
}

@media only screen and (max-width: 1199px) {
  .hero-area .hero-img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .hero-area .hero-img {
    top: 0;
  }
}

.hero-area .custom-shape-divider-bottom-1666593860 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  stroke: transparent;
  stroke-width: 0px;
}

.hero-area .custom-shape-divider-bottom-1666593860 svg {
  position: relative;
  display: block;
  width: calc(217% + 1.3px);
  height: 354px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  stroke: transparent;
  stroke-width: 0px;
  margin-bottom: -1px;
}

@media only screen and (max-width: 767px) {
  .hero-area .custom-shape-divider-bottom-1666593860 svg {
    height: 300px;
  }
}

@media only screen and (max-width: 482px) {
  .hero-area .custom-shape-divider-bottom-1666593860 svg {
    height: 260px;
  }
}

.hero-area .custom-shape-divider-bottom-1666593860 .shape-fill {
  fill: #ffffff;
}

.hero-area .btn-invite {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border: 0;
  background-color: #9eaffa;
  border-radius: 50px;
  padding: 0 18px 0 0;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hero-area .btn-invite img {
  width: 55px;
  height: 55px;
  margin-right: 6px;
}

@media only screen and (max-width: 767px) {
  .hero-area .btn-invite img {
    width: 50px;
    height: 50px;
  }
}

.hero-area .btn-invite:hover {
  background-color: #898f93;
}

.abt-sec {
  padding: 70px 0px;
}

@media only screen and (max-width: 767px) {
  .abt-sec {
    padding: 40px 0px;
  }
}

.abt-sec h2 {
  font-family: "Quicksand", sans-serif;
  font-family: 400;
  font-size: 40px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1199px) {
  .abt-sec h2 {
    font-size: 34px;
    margin-bottom: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .abt-sec h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .abt-sec h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

.abt-sec p {
  font-size: 15px;
  color: #898f93;
}

.abt-sec p:not(:last-child) {
  margin-bottom: 10px;
}

.abt-sec .list-point {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.abt-sec .list-point li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}

.abt-sec .list-point li:not(:last-child) {
  margin-bottom: 10px;
}

.abt-sec .list-point i {
  color: #c02a11;
  margin-right: 8px;
  font-weight: bold;
  position: relative;
  top: 4px;
}

.abt-sec .list-point span {
  color: #898f93;
}

/*--------------------------------------------------------------
# games
--------------------------------------------------------------*/
.games {
  padding: 70px 0px;
}

@media only screen and (max-width: 767px) {
  .games {
    padding: 40px 0px;
  }
}

.games .sec-t {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  .games .sec-t {
    margin-bottom: 40px;
  }
}

.games .sec-t h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 44px;
  margin-bottom: 14px;
}

@media only screen and (max-width: 1199px) {
  .games .sec-t h2 {
    font-size: 34px;
  }
}

@media only screen and (max-width: 991px) {
  .games .sec-t h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .games .sec-t h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

.games .g-single {
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.games .g-single .g-logo {
  width: 150px;
  height: 75px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: 16px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media only screen and (max-width: 767px) {
  .games .g-single .g-logo {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
  }
}

/*--------------------------------------------------------------
# sword
--------------------------------------------------------------*/
.sword {
  background-color: #2f3136;
  padding: 70px 0px;
}

@media only screen and (max-width: 767px) {
  .sword {
    padding: 40px 0px;
  }
}

@media only screen and (max-width: 991px) {
  .sword .s-text {
    text-align: center;
  }
}

.sword .s-text h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  margin-bottom: 14px;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .sword .s-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

/*--------------------------------------------------------------
# cta
--------------------------------------------------------------*/
.cta {
  background-color: #c02a11;
  padding: 70px 0px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .cta {
    padding: 40px 0px;
  }
}

.cta .cta-text h2 {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .cta .cta-text h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.cta .btn-invite {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border: 0;
  background-color: #9eaffa;
  border-radius: 50px;
  padding: 0 18px 0 0;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.cta .btn-invite img {
  width: 55px;
  height: 55px;
  margin-right: 6px;
}

@media only screen and (max-width: 767px) {
  .cta .btn-invite img {
    width: 50px;
    height: 50px;
  }
}

.cta .btn-invite:hover {
  background-color: #898f93;
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
footer {
  background-color: #fff;
  padding: 30px 0px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  footer {
    padding: 15px 0px;
  }
}

footer span {
  font-size: 13px;
  opacity: 0.7;
}

footer .footer-links {
  margin-bottom: 8px;
}

footer .footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-links ul li {
  display: inline-block;
  margin-bottom: 5px;
}

footer .footer-links ul li:not(:last-child) {
  margin-right: 8px;
}

footer .footer-links ul li a {
  display: inline-block;
  font-size: 25px;
  color: #c02a11;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

footer .footer-links ul li a:hover {
  color: #c02a11;
}

footer .footer-links ul li a img {
  height: 35px;
}


/*--------------------------------------------------------------
# command page
--------------------------------------------------------------*/
.command-section {
  padding-top: 80px;
}

/* command title */
.command-title-wrapper {
  text-align: center;
}

p.single-command-title {
  margin: 20px 0;
}

form#command-search {
  position: relative;
}

/* command search */
.command-search-wrapper {
  padding: 30px 0;
  position: relative;
}

#command-search input[type="text"] {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 20px;
}

#command-search input[type="text"]:focus {
  outline: none;
}

#command-search input[type="text"]::placeholder {
  padding-left: 10px;
}

.command-search-icon {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #c02a11;
  padding: 5px 0;
}

/* command content */
.command-content-tabs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.command-content-single-tabs {
  background-color: #000;
  border: none;
  color: #c1bcbc;
  padding: 10px 30px;
  border-radius: 10px;
}

.single-command-card-wrapper {
  background: #2f3136;
  border-radius: 10px;
  margin-bottom: 15px;
}

.content-col p {
  font-weight: 400;
}

.single-command-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-line-pack: center;
  align-content: center;
  cursor: pointer;
  padding: 25px;
  position: relative;
}

.single-command-card-body {
  display: none;
  padding-bottom: 25px;
}

.crc-chevron {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 16px;
  max-width: 10%;
  position: absolute;
  right: 25px;
  top: 30px;
}

.fa-chevron-down {
  color: #FFF;
  font-size: 16px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  -o-transition: transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
  float: right;
  cursor: pointer;
}

.content-row {
  display: flex;
  gap: 30px;
  padding: 0px 30px;
}

.content-col {
  width: 50%;
  flex: 50%;
}

.content-col ul {
  margin-bottom: 0;
}

.single-command-card-header h2 {
  color: #fff;
  font-size: 18px;
}

span.title-description {
  font-weight: 400;
  font-size: 14px;
}

span#search-btn {
  cursor: pointer;
  display: block;
}

h4.command-category-title {
  margin-top: 15px;
  font-size: 16px;
  margin-bottom: 15px;
}

.single-command-card-body ul {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
}

.single-command-card-body ul li {
  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

span.icon svg path {
  fill: #fff;
}

.title-row {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 20px;
}

.command-content-single-tabs.active-tab {
  background-color: #d7342e;
  color: #fff;
}

#Admin, #Set-Up, #General, #League-of-Legends {
  display: none;
}

.list-item-item span {
  color: #ffffff;
}

p.list-item-item {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
  .command-content-tabs {
    display: block;
  }

  button.command-content-single-tabs {
    margin-bottom: 5px;
  }

  .single-command-card-wrapper {
    margin-bottom: 30px;
  }

  .single-command-card-header {
    position: relative;
  }

  .fa-chevron-down {
    top: 30px;
    position: absolute;
    right: 30px;
  }
  .title-row {
    align-items: baseline;
  }

  span.icon {
    position: relative;
    top: 5px;
}
}


/*mobile-view*/
@media screen and (max-width: 767px) {
  .command-content-tabs {
    display: block;
  }

  .title-row {
    align-items: baseline;
  }

  span.icon {
    position: relative;
    top: 5px;
}

  button.command-content-single-tabs {
    margin-bottom: 5px;
  }

  .single-command-card-wrapper {
    margin-bottom: 30px;
  }

  .single-command-card-header {
    position: relative;
  }

  .fa-chevron-down {
    top: 30px;
    position: absolute;
    right: 30px;
  }
}